*{
    margin: 0;
    padding: 0;
}
:root{
    --color-white: rgb(255,255,255);
    --color-black: rgb(0,0,0);
    --color-light-black: rgb(55,55,55);
    --color-light-gray: rgb(248, 248, 248);
    --color-gray-little-darker: rgb(199, 204, 196);
    --color-gray-dark: rgb(110, 110, 110);
    --color-blue-1: rgb(96, 91, 227);
    --color-blue-2: rgb(30, 27, 195);
    --color-blue-3: rgb(20, 18, 150);
    --color-blue-4: rgb(231, 230, 248);
    --color-yellow: rgb(255, 186, 1);
    --proba: #f7effa;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    min-height: 800px;
}
.none{
    display: none !important;
}
.block{
    display: block !important;
}
.white{
    color: var(--color-white);
}
#left-side{
    height: 100%;
    width: 20%;
    min-width: 200px;
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}
#burger{
    display: none;
    width: 50px;
    position: absolute;
    left: 20px;
    top: 15px;
}
.line{
    display: block;
    height: 3px;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: var(--color-blue-1);
    width: 100%;
    border-radius: 15px;
    z-index: 3;
}
#line1{
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
#line2{
    transition: transform 0.2s ease-in-out;
}
#line3{
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
#name{
    width: 100%;
    height: 30%;
    position: relative;
    background-color: var(--color-blue-1);
    border-radius: 0 0 50px 0;
}
#name img{
    background-color: var(--color-white);
    width: 60px;
    height: 60px;
    position: relative;
    top: 40%;
    left: calc(15% - 16px);
    border-radius: 500px;
}
#name h5{
    color: var(--color-white);
    font-size: calc(1vw + 18px);
    position: relative;
    top: 12%;
    text-align: center;
}
#name p{
    color: var(--color-white);
    position: relative;
    top: 23%;
    font-size: calc(.6vw + 5px);
    text-align: start;
    padding-left: calc(50px + 16%);
}
#nav{
    width: 100%;
    height: 70%;
    position: relative;
    background-color: rgb(240, 240, 240);
    border-radius: 0 50px 0 0;
}
#nav ul{
    width: 100%;
    height: 100%;
}
#nav li{
    width: 100%;
    height: 10%;
    position: relative;
    top: 10%;
    transition: all .4s;
}
#nav ul li a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--color-black);
    font-size: calc(0.6vw + 12px);
    display: flex;
    transition: all .4s;
}
#nav a:hover{
    color: var(--color-blue-1);
}
#nav i{
    position: relative;
    height: 50%;
    top: 50%;
    left: 25%;
    transform: translate(0, -50%);
    display: inline-block;
}
#nav p{
    left: 30%;
    position: relative;
    height: 50%;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
}
#main{
    width: 60%;
    height: 100%;
    position: absolute;
    left: 20%;
    top: 0;
}
#main-buttons{
    width: 70%;
    height: 60%;
    min-width: 540px;
    position: relative;
    margin: auto;
    top: 35%;
}
#main-buttons-row-1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}
#main-buttons-row-2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}
.main-button{
    width: calc(100px + 12vw);
    height: calc(175px + 2vw);
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(240, 240, 240);
    transition: all .4s;
    box-shadow: -5px -5px 10px rgb(255 255 255 / 80%), 5px 5px 10px rgb(0 0 0 / 30%);
}
.main-button:hover{
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(255, 255, 255, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.main-button i{
}
.main-button-text{
    text-align: center;
    position: relative;
    top: 20%;
    font-size: 20px;
    color: var(--color-gray-dark);
}
.main-button-text p{
    display: inline-block;
}
.plus{
    display: inline-block;
    text-align: center;
    position: relative;
    top: 22%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 70px;
    color: var(--color-gray-dark);
}
.main-button:hover .plus, .main-button:hover .main-button-text{
    color: var(--color-blue-1);
    transition: all .4s;
}
#notifications{
    width: 20%;
    min-width: 240px;
    height: 90%;
    position: fixed;
    top: 5%;
    right: 0;
    border-left: 1px solid var(--color-gray-little-darker);
    transition: transform 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
}
#bell-on{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 32px;
    display: none;
    transition: transform 0.5s all;
    z-index: 3;
    color: var(--color-blue-1);
}
#bell-off{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 32px;
    display: none;
    transition: .5s;
    z-index: 3;
    color: var(--color-blue-1);
}
#statistics-conteiner{
    display: flex;
    width: 85%;
    height: 30%;
    justify-content: space-around;
    position: absolute;
    top: 2%;
    margin-left: calc(16% - 67px);
}
.statistics{
    width: calc(60px + 10vw);
    height: calc(125px + 4vw);
    background-color: var(--color-blue-1);
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: -5px -5px 10px rgb(255 255 255 / 80%), 5px 5px 10px rgba(0, 0, 0, 0.3);
}
#statistics-column-name{
    position: absolute;
    top: 5%;
    font-size: 1.1vw;
    color: var(--color-white);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#statistics-column-name p{
}
.statistics-line{
    width: 12%;
    background-color: var(--color-yellow);
    position: relative;
    color: var(--color-white);
    font-size: 1.1vw;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}
.statistics-line p{
    text-align: center;
    position: relative;
    top: 5%;
}
#statistics-students{
    height: 40%;
    position: relative;
    top: 60%;
}
#statistics-instructor{
    height: 70%;
    position: relative;
    top: 30%;
}
#statistics-cars{
    height: 30%;
    position: relative;
    top: 70%;
}
.li-clicked{
    background-color: rgb(240, 240, 240);
    border-radius: 0 40px 0 0;
}
.li-clicked1{
    background-color: var(--color-white);
}
.li-clicked2{
    background-color: rgb(240, 240, 240);
    border-radius: 0 0 40px 0;
}
#notifications-conteiner{
    width: 80%;
    height: 50%;
    position: relative;
    left: 10%;
    top: 40%;
}
.notification{
    width: 100%;
    height: 20%;
    position: relative;
    margin-top: 10%;
    display: flex;
    background-color:var(--color-light-gray);
    border-radius: 20px;
    box-shadow: -4px -4px 10px rgb(255 255 255 / 80%), 4px 4px 10px rgb(0 0 0 / 30%);
}
.notification-time{
    width: 40%;
    height: 100%;
    position: relative;
}
.notification-time p{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-size: calc(0.7vw + 8px);
    text-align: center;
}
.notification-line{
    width: 2px;
    height: 60%;
    position: relative;
    top: 20%;
    background-color: var(--color-yellow);
}
.notification-event{
    width: 58%;
    height: 100%;
    position: relative;
}
.notification-event h5{
    font-size: calc(0.7vw + 8px);
    position: relative;
    top: 20%;
    text-align: center;
}
.notification-event p{
    font-size: calc(0.6vw + 6px);
    position: relative;
    top: 20%;
    text-align: center;
}