*{
    margin: 0;
    padding: 0;
}
:root{
    --color-white: rgb(255,255,255);
    --color-black: rgb(0,0,0);
    --color-light-black: rgb(55,55,55);
    --color-light-gray: rgb(248, 248, 248);
    --color-gray-little-darker: rgb(199, 204, 196);
    --color-gray-dark: rgb(110, 110, 110);
    --color-blue-1: rgb(96, 91, 227);
    --color-blue-2: rgb(30, 27, 195);
    --color-blue-3: rgb(20, 18, 150);
    --color-blue-4: rgb(231, 230, 248);
    --color-yellow: rgb(255, 186, 1);
    --proba: #f7effa;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    min-height: 800px;
}
#nav{
    width: 20%;
    height: 70%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(240, 240, 240);
    border-radius: 0 50px 0 0;
}
#nav ul{
    width: 100%;
    height: 100%;
}
#nav li{
    width: 100%;
    height: 10%;
    position: relative;
    top: 10%;
    transition: all .4s;
}
#nav ul li a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    text-align: center;
    color: var(--color-black);
    font-size: 1.3vw;
    display: flex;
    transition: all .4s;
}
#nav a:hover{
    color: var(--color-blue-1);
}
#nav i{
    position: relative;
    height: 50%;
    top: 50%;
    left: 25%;
    transform: translate(0, -50%);
    display: inline-block;
}
#nav p{
    left: 30%;
    position: relative;
    height: 50%;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
}
#name{
    width: 20%;
    height: 30%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-blue-1);
    border-radius: 0 0 50px 0;
}
#name img{
    background-color: var(--color-white);
    width: 60px;
    height: 60px;
    position: relative;
    top: 60%;
    left: 10%;
    border-radius: 500px;
}
#name h5{
    color: var(--color-white);
    font-size: 2vw;
    position: relative;
    top: 10%;
    display: inline-block;
}
#name p{
    color: var(--color-white);
    position: relative;
    top: 40%;
    left: 30%;
    font-size: .8vw;
}
#dashboard{
    width: 60%;
    height: 100%;
    position: absolute;
    left: 20%;
    top: 0;
}
#dashboard-buttons{
    width: 70%;
    height: 60%;
    position: relative;
    left: 15%;
    top: 30%;
}
#dashboard-buttons-row-1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}
#dashboard-buttons-row-2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}
.dashboard-button{
    width: 250px;
    height: 200px;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(240, 240, 240);
    transition: all .4s;
    box-shadow: -5px -5px 10px rgb(255 255 255 / 80%), 5px 5px 10px rgb(0 0 0 / 30%);
}
.dashboard-button:hover{
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(255, 255, 255, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.dashboard-button i{
}
.dashboard-button-text{
    text-align: center;
    position: relative;
    top: 20%;
    font-size: 20px;
    color: var(--color-gray-dark);
}
.dashboard-button-text p{
    display: inline-block;
}
.plus{
    display: inline-block;
    text-align: center;
    position: relative;
    top: 22%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 70px;
    color: var(--color-gray-dark);
}
.dashboard-button:hover .plus, .dashboard-button:hover .dashboard-button-text{
    color: var(--color-blue-1);
    transition: all .4s;
}
#notifications{
    width: 20%;
    height: 90%;
    position: absolute;
    top: 5%;
    right: 0;
    border-left: 1px solid var(--color-gray-little-darker);
}
.li-clicked{
    background-color: rgb(240, 240, 240);
    border-radius: 0 40px 0 0;
}
.li-clicked1{
    background-color: var(--color-white);
}
.li-clicked2{
    background-color: rgb(240, 240, 240);
    border-radius: 0 0 40px 0;
}
#notifications-conteiner{
    width: 80%;
    height: 50%;
    position: relative;
    left: 10%;
    top: 40%;
}
.notification{
    width: 100%;
    height: 20%;
    position: relative;
    margin-top: 10%;
    display: flex;
    background-color:var(--color-light-gray);
    border-radius: 20px;
    box-shadow: -4px -4px 10px rgb(255 255 255 / 80%), 4px 4px 10px rgb(0 0 0 / 30%);
}
.notification-time{
    width: 40%;
    height: 100%;
    position: relative;
}
.notification-time p{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 1.15vw;
    text-align: center;
}
.notification-line{
    width: 2px;
    height: 60%;
    position: relative;
    top: 20%;
    background-color: var(--color-yellow);
}
.notification-event{
    width: 58%;
    height: 100%;
    position: relative;
}
.notification-event h5{
    font-size: 1.1vw;
    position: relative;
    top: 20%;
    text-align: center;
}
.notification-event p{
    font-size: 1vw;
    position: relative;
    top: 20%;
    text-align: center;
}