@media (max-width: 600px){
    .login-card, .register-card{
        width: 290px;
        padding: 70px 22px 50px;
    }
    #page-row-2{
        min-height: 850px;
        height: 110vh;
    }
    #page-row-2 h2{
        top: 22%;
    }
    #page-row-2 h5{
        top: 23%;
    }
    .page-row-2-card-text h6{
        font-size: calc(0.5vw + 12px);
        margin: 5% 0 0 5%;
    }
    #page-row-4{
        height: 90vh;
        min-height: 700px;
    }
    #circles-3{
        display: none;
    }
}
@media (max-width: 550px){
    #hero{
        min-height: 600px;
        height: 85vh;
    }
    #hero-try-free{
        width: 60%;
        left: 20%;
    }
    #page-row-3{
        width: 100%;
        height: 300vw;
        border-top: 1px solid var(--color-gray-little-darker);
    }
    #page-row-3-conteiner{
        width: 80vw;
        height: 290vw;
        margin: auto;
    }
    .page-row-3-card{
        width: 100%;
        height: 25%;
        display: block;
    }
    .page-row-3-card-text{
        width: 100%;
        height: 30%;
        position: relative;
    }
    .page-row-3-card-picture{
        width: 100%;
        height: 70%;
        position: relative;
        background-color: brown;
    }
    .page-row-3-card-picture-inside-div-right, .page-row-3-card-picture-inside-div-left{
        margin: auto;
    }
    #circles-1{
        display: none;
    }
}