@media (max-width: 600px){
    .login-card, .register-card{
        width: 290px;
        padding: 70px 22px 50px;
    }
    .block{
        display: block;
    }
    #page-row-2{
        min-height: 850px;
        height: 110vh;
    }
    #page-row-2 h2{
        top: 22%;
    }
    #page-row-2 h5{
        top: 23%;
    }
    .page-row-2-card-text h6{
        font-size: calc(0.5vw + 12px);
        margin: 5% 0 0 5%;
    }
    #page-row-3{
        width: 100%;
        height: 300vw;
        border-top: 1px solid var(--color-gray-little-darker);
    }
    #page-row-3-conteiner{
        width: 80vw;
        height: 290vw;
        margin: auto;
    }
    .page-row-3-card{
        width: 100%;
        height: 25%;
        display: block;
    }
    .page-row-3-card-text{
        width: 100%;
        height: 30%;
        position: relative;
    }
    .page-row-3-card-picture{
        width: 100%;
        height: 70%;
        position: relative;
        background-color: brown;
    }
    .page-row-3-card-picture-inside-div-right, .page-row-3-card-picture-inside-div-left{
        margin: auto;
    }
    #page-row-4{
        height: 90vh;
        min-height: 700px;
    }
    #circles-3{
        display: none;
    }
    #page-row-4{
        min-height: 1100px;
    }
    #page-row-4 h2{
        top: 4%;
    }
    #page-row-4 h5{
        top: 5%;
    }
    #page-row-4-recommended{
        top: 36%;
        width: 22%;
    }
    #pricelist{
        display: block;
        width: 80%;
        height: 90%;
        top: 8%;
    }
    .pricelist-offer:nth-child(2) .offer-row-2{
        color: var(--color-white);
        background-color: var(--color-blue-1);
    }
    .pricelist-offer:nth-child(2) .offer-row-2 h4{
        color: var(--color-light-gray);
    }
    .pricelist-offer{
        width: 100%;
        height: 28%;
        margin-bottom: 5.3%;
    }
    .offer-row-1{
        width: 60%;
        height: 27%;
        position: relative;
        left: 0;
        top: 0;
        border: none;
        border-radius: 10px 0px 0 0;
    }
    .offer-row-1 h6{
        top: 25%;
        font-size: calc(0.80vw + 14px);
    }
    .offer-row-1 p{
        top: 20%;
        font-size: calc(0.45vw + 10px);
    }
    .offer-row-2{
        width: 40%;
        height: 27%;
        position: relative;
        top: -27%;
        left: 60%;
        border: none;
        background-color: var(--color-light-gray);
        border-radius: 0 10px 0 0;
    }
    .offer-row-2 h4{
    }
    .offer-row-2 h4 p{
        font-size: calc(0.6vw + 10px);
    }
    .offer-row-3{
        width: 100%;
        height: 56%;
        position: relative;
        top: -27%;
        border: none;
    }
    .offer-row-3 ul{
        top: 0%;
        display: flex;
    }
    .offer-row-3 ul div{
        height: 80%;
        margin-top: 3%;
        width: 33.3%;
    }
    .offer-row-3 ul li{
        width: 75%;
        margin-top: 2%;
    }
    .offer-row-3 i{
        font-size: calc(1vw + 12px);
        border: none;
    }
    .offer-row-3 p{
        margin-left: 10%;
        display: block;
        font-size: calc(1vw + 8px);
        font-weight: light;
        letter-spacing: .6px;
        font-weight: 400;
    }
    .offer-row-4{
        width: 100%;
        height: 17%;
        position: relative;
        top: -27%;
        border-radius: 0 0px 10px 10px;
    }
    .choose-btn{
        width: 70%;
        height: 70%;
        margin: auto;
        top: 40%;
        padding: 0.3% 0;
        font-size: calc(0.6vw + 12px);
    }
}
@media (max-width: 550px){
    #hero{
        min-height: 600px;
        height: 85vh;
    }
    #hero-try-free{
        width: 60%;
        left: 20%;
    }
   
    #circles-1{
        display: none;
    }
}