@media (max-width: 600px){
    .login-card, .register-card{
        width: 290px;
        padding: 70px 22px 50px;
    }
    .block{
        display: block;
    }
    #page-row-2{
        min-height: 850px;
        height: 110vh;
    }
    #page-row-2 h2{
        top: 22%;
    }
    #page-row-2 h5{
        top: 23%;
    }
    .page-row-2-card-text h6{
        font-size: calc(0.5vw + 12px);
        margin: 5% 0 0 5%;
    }
    #about{
        width: 100%;
        height: 360vw;
        border-top: 1px solid var(--color-gray-little-darker);
    }
    #about-conteiner{
        width: 80vw;
        height: 350vw;
        margin: auto;
    }
    .about-card{
        width: 100%;
        height: 25%;
        display: block;
    }
    .about-card-text{
        width: 100%;
        height: 25%;
        position: relative;
    }
    .about-card-text-inside{
        width: 100%;
        margin: 0;
    }
    .about-card h3{
        font-size: calc(2.5vw + 18px);
        text-align: center;
    }
    .about-card p{
        font-size: calc(0.5vw + 10px);
        text-align: center;
        padding-top: 0%;
    }
    .about-card-picture{
        width: 100%;
        height: 75%;
        position: relative;
    }
    .about-card-picture-inside-div-right, .about-card-picture-inside-div-left{
        margin: auto;
    }
    .about-card-picture-pills-left{
        left: 0;
    }
    .about-card-picture-pill-1{
        width: 35%;
        height: 100%;
        top: -2%;
        left: 20%;
    }
    .about-card-picture-pill-2{
        width: 35%;
        height: 70%;
        top: -7%;
        left: 18%;
        display: inline-block;
    }
    .page-row-2-card-for-replace-1{
        position: relative;
        top: 25%;
    }
    .page-row-2-card-for-replace-2{
        position: relative;
        top: -75%;
    }
    #packages{
        height: 90vh;
        min-height: 700px;
    }
    #circles-3{
        display: none;
    }
    #packages{
        min-height: 1100px;
    }
    #packages h2{
        top: 4%;
    }
    #packages h5{
        top: 5%;
    }
    #packages-recommended{
        top: 36%;
        width: 22%;
    }
    #pricelist{
        display: block;
        width: 80%;
        height: 90%;
        top: 8%;
    }
    .pricelist-offer:nth-child(2) .offer-row-2{
        color: var(--color-white);
        background-color: var(--color-blue-1);
    }
    .pricelist-offer:nth-child(2) .offer-row-2 h4{
        color: var(--color-light-gray);
    }
    .pricelist-offer{
        width: 100%;
        height: 28%;
        margin-bottom: 5.3%;
    }
    .offer-row-1{
        width: 60%;
        height: 27%;
        position: relative;
        left: 0;
        top: 0;
        border: none;
        border-radius: 10px 0px 0 0;
    }
    .offer-row-1 h6{
        top: 25%;
        font-size: calc(0.80vw + 14px);
    }
    .offer-row-1 p{
        top: 20%;
        font-size: calc(0.45vw + 10px);
    }
    .offer-row-2{
        width: 40%;
        height: 27%;
        position: relative;
        top: -27%;
        left: 60%;
        border: none;
        background-color: var(--color-light-gray);
        border-radius: 0 10px 0 0;
    }
    .offer-row-2 h4{
    }
    .offer-row-2 h4 p{
        font-size: calc(0.6vw + 10px);
    }
    .offer-row-3{
        width: 100%;
        height: 56%;
        position: relative;
        top: -27%;
        border: none;
    }
    .offer-row-3 ul{
        display: flex;
    }
    .offer-row-3 ul div{
        height: 80%;
        margin-top: 3%;
        width: 33.3%;
    }
    .offer-row-3 ul li{
        width: 75%;
    }
    .offer-row-3 i{
        font-size: calc(1vw + 12px);
        border: none;
    }
    .offer-row-3 p{
        margin-left: 10%;
        display: block;
        font-size: calc(1vw + 8px);
        font-weight: light;
        font-weight: 500;
    }
    .offer-row-4{
        width: 100%;
        height: 17%;
        position: relative;
        top: -27%;
        border-radius: 0 0px 10px 10px;
    }
    .choose-btn{
        width: 70%;
        margin: auto;
        top: 40%;
        padding: 1% 0;
        font-size: calc(0.6vw + 12px);
    }
    #circles-11{
        height: 40px;
        width: 40px;
        margin-top: 28vw;
        background-image:  
          url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='20'> <rect width='3' height='2' fill='rgb(96, 91, 227)' /><circle cx='4' cy='4' r='2.5' fill='rgb(203, 203, 203)' shape-rendering='geometricPrecision'/></svg>");
    }
}
@media (max-width: 550px){
    #burger{
        right: 30px;
    }
    #language-card{
        width: 12%;
    }
    #hero{
        min-height: 600px;
        height: 85vh;
    }
    #hero-try-free{
        width: 60%;
        left: 20%;
    }
   
    #circles-1{
        display: none;
    }
    #page-row-5-try-free{
        display: block;
    }
    #page-row-5-try-free h4{
        text-align: center;
        top: 35%;
    }
    #page-row-5-try-free-Btn{
        top: 15%;
        margin: auto;
        width: 30%;
        height: 35px;
        padding: 0%;
        line-height: 35px;
    }
}
@media (max-width: 500px){
    #hero-try-free{
        top: 40%;
    }
    .choose-btn{
    }
    #circles-11{
        margin-top: 35vw; }
}
@media (max-width: 450px){
    #hero{
        min-height: 550px;
        height: 70vh;
    }
    #hero h1{
        top: 23%;
        font-size: calc(2vw + 22px);
    }
    #hero-try-free-Btn{
        font-size: calc(0.5vw + 12px);
    }
    #page-row-2{
        min-height: 750px;
        height: 100vh;
    }
    #page-row-2 h2{
        top: 21%;
    }
    #page-row-2 h5{
        top: 22%;
    }
    #page-row-2-cards{
        height: 62%;
        top: 28%;
    }
    .page-row-2-card-text{
        width: 90%;
    }
    .page-row-2-card-text h6{
        font-size: calc(0.7vw + 12px);
    }
    .page-row-2-card-text p{
        font-size: calc(0.9vw + 10px);
        margin: 1% 10% 0% 0%;
    }
    .offer-row-3 ul{
        top: 5%;
    }
    .choose-btn{
    }
}
@media (max-width: 425px){
    #language-card{
        width: 15%;
    }
    #pricelist{
        width: 90%;
    }
    #page-row-5-try-free-Btn{
        top: 15%;
        margin: auto;
        width: 30%;
        height: 35px;
        padding: 0%;
        line-height: 35px;
    }
}
@media (max-width: 400px){
    #burger{
        right: 20px;
    }
    #page-row-2-cards{
        display: block;
        top: 30%;
        width: 85%;
        height: 60%;
        margin: auto;
    }
    #packages-recommended{
        width: 25%;
    }
    #packages{
        min-height: 1050px;
    }
    #pricelist ul{
        top: 0;
    }
    #page-row-5-try-free-Btn{
        width: 35%;
    }
    #page-row-5-try-free-Btn{
        line-height: 32px;
    }
}

@media (max-width: 350px){
    #burger{
        right: 15px;
    }
    #hero-slider{
        height: 43%;
    }
    .page-row-2-card-text p{
        font-size: calc(0.9vw + 9px);
    }
    #pricelist ul{
        top: 5%;
    }
    #about-conteiner{
        width: 85vw;
    }
    #packages{
        min-height: 1000px;
    }
}
@media (max-width: 325px){
    #hero-try-free{
        width: 65%;
        left: 17.5%;
    }
}


@media screen and (max-width: 600px){
    .clients{
        height: 30vh;
    }

    .clients img{
        height: 40px;
    }

    #circles-12{
        height: 70px;
        width: 120px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(248, 248, 248)' /><circle cx='4' cy='4' r='2.5' fill='rgb(203, 203, 203)' shape-rendering='geometricPrecision'/></svg>");
        left: 81%;
        top: 15%;
    }

    #circles-13{
        height: 70px;
        width: 120px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(248, 248, 248)' /><circle cx='4' cy='4' r='2.5' fill='rgb(203, 203, 203)' shape-rendering='geometricPrecision'/></svg>");
        right: 80%;
        top: 40%;
    }
}

@media  screen and (max-width: 550px){

    #circles-12{
        left: 78%;
    }
    
    .clients img{
        left: 37%;
    }
}

@media screen and (max-width: 465px){
    
    .clients h2{
        left: 5%;
    }

    .clients img{
        left: 38%;
    }

    #circles-12{
        left: 76%;
    }

    #circles-13{
        top: 45%;
        right: 73%;
    }
}

@media screen and (max-width: 430px) {
    #circles-12{
        left: 72%;
    }
}
@media screen and (max-width: 400px){
    
    .clients{
        height: 25vh;
    }

    #circles-12{
        height: 50px;
        width: 90px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15'> <rect width='2' height='1' fill='rgb(248, 248, 248)' /><circle cx='3' cy='3' r='2' fill='rgb(203, 203, 203)' shape-rendering='geometricPrecision'/></svg>");
        left: 78%;
    }

    #circles-13{
        height: 50px;
        width: 90px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15'> <rect width='2' height='1' fill='rgb(248, 248, 248)' /><circle cx='3' cy='3' r='2' fill='rgb(203, 203, 203)' shape-rendering='geometricPrecision'/></svg>");
        top: 50%;
        right: 75%;
    }
}

@media screen and (max-width: 350px){
    .clients{
        height: 20vh;
    }

    .clients img{
        height: 35px;
        left: 36%;
    }

    .clients h2{
        font-size: calc(1.0vw + 18px);
    }

    #circles-12{
        left: 74%;
    }

    #circles-13{
        top: 50%;
        right: 72%;
    }
}

@media screen and (max-width: 600px){
    #circles-14{
        height: 70px;
        width: 120px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='white' /><circle cx='4' cy='4' r='2.5' fill='rgb(203, 203, 203)' shape-rendering='geometricPrecision'/></svg>");  
        left: 78%;
        top: 38vh;
        z-index: -1;
    }

    #circles-15{
        height: 70px;
        width: 120px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='white' /><circle cx='4' cy='4' r='2.5' fill='rgb(203, 203, 203)' shape-rendering='geometricPrecision'/></svg>");
        position: absolute;
        right: 83%;
        top: 75%;
        z-index: -1;
    }

    .faq{
        margin: 120px 10% 120px 10%;
        width: 70%;
    }

    .question{
        width: 85%;
    }

    .answer{
        padding: 50px 80px 50px 80px;

    }
}

@media screen and (max-width: 560px){
    
    .faq{
        margin: 90px 10% 120px 10%;
        width: 70%;
    }

    .question{
        width: 85%;
    }

    #circles-14{
        left: 77%;
        top: 34vh;
    }

    .faq-heading{
        left: 1.5%;
    }

    .answer{
        padding: 50px 70px 50px 70px;
    }
}

@media screen and (max-width: 555px){
    .question{
        width: 83%;
    }
}

@media screen and (max-width: 500px){

    .faq{
        margin: 90px 5% 90px 5%;
    }

    #circles-14{
        height: 50px;
        width: 80px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15'> <rect width='2' height='1' fill='white' /><circle cx='3' cy='3' r='2' fill='rgb(203, 203, 203)' shape-rendering='geometricPrecision'/></svg>");
        left: 79%;
        top: 34vh;
    }

    #circles-15{
        height: 50px;
        width: 80px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15'> <rect width='2' height='1' fill='white' /><circle cx='3' cy='3' r='2' fill='rgb(203, 203, 203)' shape-rendering='geometricPrecision'/></svg>");
        top: 80%;
        right: 83.5%;
    }

    .answer{
        padding: 45px 65px 45px 65px;
    }
}

@media screen and (max-width: 490px) {
    .question{
        width: 80%;
    }
    .answer{
        padding: 35px 55px 35px 55px;
    }
}

@media screen and (max-width: 435px){

    .faq{
        margin: 90px 2% 90px 2%;
    }

    .question-container{
        left: 0px;
    }

    #circles-15{
        top: 90%;
    }
}

@media screen and (max-width: 417px){

    .faq{
        margin: 90px 0 90px 0;
    }
    
    .question{
        width: 78%;
    }

    #circles-14{
        height: 50px;
        width: 80px;
    }

    #circles-15{
        height: 50px;
        width: 80px;
        top: 86%;
    }
}

@media screen and (max-width: 380px){

    .faq{
        width: 80%;
    }

    .question{
        width: 78%;
    }

    #circles-15{
        top: 85%;
    }   

    .answer{
        padding: 30px;

    }
}

@media screen and (max-width: 345px){
    
    .question{
        width: 75%;
    }

    #circles-15{
        top: 80%;
    }

    .answer{
        padding: 30px 25px 30px 25px;
    }

    #circles-14{
        top: 37vh;
    }
}

@media screen and (max-width: 600px) {
    .footer{
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        gap: 10vh;
        margin-left: 10%;
    }

    .footer-heading{
        align-items: center;
    }

    #circles-16{
        height: 100px;
        width: 170px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(26, 36, 54)' /><circle cx='4' cy='4' r='2.5' fill='rgba(45, 56, 75)' shape-rendering='geometricPrecision'/></svg>");  
        position: absolute;
        left: 70%;
        top: 46%;
        z-index: 1;
    }
    
    #circles-17{
        height: 100px;
        width: 170px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(26, 36, 54)' /><circle cx='4' cy='4' r='2.5' fill='rgba(46, 56, 75)' shape-rendering='geometricPrecision'/></svg>");  
        position: absolute;
        left: 70%;
        top: 56%;
        z-index: 1;
    }

    .footer-1{
        z-index: 5;
    }

    .footer-3{
        gap: 20%;
    }

    .footer-3 input{
        position: absolute;
        top: 20%;
    }
}

@media screen and (max-width: 550px) {
    #circles-16{
        height: 100px;
        width: 170px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(26, 36, 54)' /><circle cx='4' cy='4' r='2.5' fill='rgba(45, 56, 75)' shape-rendering='geometricPrecision'/></svg>");  
        position: absolute;
        left: 68%;
        top: 46%;
        z-index: 1;
    }
    
    #circles-17{
        height: 100px;
        width: 170px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(26, 36, 54)' /><circle cx='4' cy='4' r='2.5' fill='rgba(46, 56, 75)' shape-rendering='geometricPrecision'/></svg>");  
        position: absolute;
        left: 68%;
        top: 56%;
        z-index: 1;
    }
}

@media screen and (max-width: 520px) {
    #circles-16{
        height: 100px;
        width: 170px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(26, 36, 54)' /><circle cx='4' cy='4' r='2.5' fill='rgba(45, 56, 75)' shape-rendering='geometricPrecision'/></svg>");  
        position: absolute;
        left: 66%;
        top: 46%;
        z-index: 1;
    }
    
    #circles-17{
        height: 100px;
        width: 170px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(26, 36, 54)' /><circle cx='4' cy='4' r='2.5' fill='rgba(46, 56, 75)' shape-rendering='geometricPrecision'/></svg>");  
        position: absolute;
        left: 66%;
        top: 56%;
        z-index: 1;
    }
}

@media screen and (max-width: 490px) {
    #circles-16{
        height: 100px;
        width: 170px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(26, 36, 54)' /><circle cx='4' cy='4' r='2.5' fill='rgba(45, 56, 75)' shape-rendering='geometricPrecision'/></svg>");  
        position: absolute;
        left: 64%;
        top: 46%;
        z-index: 1;
    }
    
    #circles-17{
        height: 100px;
        width: 170px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(26, 36, 54)' /><circle cx='4' cy='4' r='2.5' fill='rgba(46, 56, 75)' shape-rendering='geometricPrecision'/></svg>");  
        position: absolute;
        left: 64%;
        top: 56%;
        z-index: 1;
    }
}

@media screen and (max-width: 460px) {
    #circles-16{
        height: 100px;
        width: 150px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(26, 36, 54)' /><circle cx='4' cy='4' r='2.5' fill='rgba(45, 56, 75)' shape-rendering='geometricPrecision'/></svg>");  
        position: absolute;
        left: 66%;
        top: 46%;
        z-index: 1;
    }
    
    #circles-17{
        height: 100px;
        width: 150px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(26, 36, 54)' /><circle cx='4' cy='4' r='2.5' fill='rgba(46, 56, 75)' shape-rendering='geometricPrecision'/></svg>");  
        position: absolute;
        left: 66%;
        top: 56%;
        z-index: 1;
    }
}

@media screen and (max-width: 426px) {
    #circles-16{
        height: 100px;
        width: 120px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(26, 36, 54)' /><circle cx='4' cy='4' r='2.5' fill='rgba(45, 56, 75)' shape-rendering='geometricPrecision'/></svg>");  
        position: absolute;
        left: 74%;
        top: 46%;
        z-index: 1;
    }
    
    #circles-17{
        height: 100px;
        width: 120px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(26, 36, 54)' /><circle cx='4' cy='4' r='2.5' fill='rgba(46, 56, 75)' shape-rendering='geometricPrecision'/></svg>");  
        position: absolute;
        left: 74%;
        top: 56%;
        z-index: 1;
    }
}

@media screen and (max-width: 405px) {
    #circles-16{
        height: 70px;
        width: 120px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(26, 36, 54)' /><circle cx='4' cy='4' r='2.5' fill='rgba(45, 56, 75)' shape-rendering='geometricPrecision'/></svg>");  
        position: absolute;
        left: 70%;
        top: 48%;
        z-index: 1;
    }
    
    #circles-17{
        height: 70px;
        width: 120px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(26, 36, 54)' /><circle cx='4' cy='4' r='2.5' fill='rgba(46, 56, 75)' shape-rendering='geometricPrecision'/></svg>");  
        position: absolute;
        left: 70%;
        top: 56%;
        z-index: 1;
    }

}

@media screen and (max-width: 350px) {
    #circles-16{
        height: 70px;
        width: 120px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(26, 36, 54)' /><circle cx='4' cy='4' r='2.5' fill='rgba(45, 56, 75)' shape-rendering='geometricPrecision'/></svg>");  
        position: absolute;
        left: 66%;
        top: 48%;
        z-index: 1;
    }
    
    #circles-17{
        height: 70px;
        width: 120px;
        background-image:  
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'> <rect width='3' height='2' fill='rgb(26, 36, 54)' /><circle cx='4' cy='4' r='2.5' fill='rgba(46, 56, 75)' shape-rendering='geometricPrecision'/></svg>");  
        position: absolute;
        left: 66%;
        top: 56%;
        z-index: 1;
    }
    
}