#vehicles{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    transition: all .4s ease-out;
    position: absolute;
}
.vehicles-search-conteiner{
    width: auto;
    height: 20vh;
    margin: 50px auto;
    display: flex;
}
.vehicles-search-conteiner-inside{
    display: flex;
}
.vehicles-search-conteiner input{
    width: 80%;
    padding: 10px 10px;
    border-radius: 15px;
    border: 2px solid black;
    font-size: calc(.6vw + 8px);
}
.vehicles-search-by-registration{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.vehicles-search-by-category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
#vehicles-search-by-category-select{
    font-size: calc(.6vw + 8px);
    padding: 8px;
    border-radius: 15px;
    border: 2px solid black;
}
.vehicles-search-by-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.vehicles-search-by-model{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.vehicles-driving-school-conteiner{
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}
.vehicle-driving-school{
    width: 100%;
    height: fit-content;
    min-height: 500px;
    display: flex;
    border: 2px solid rgb(96, 91, 227, .5);
    box-shadow: -5px -5px 10px rgba(148, 146, 224, 0.3), 5px 5px 10px rgba(37, 34, 124, 0.35);
    border-radius: 50px;
}
.vehicle-driving-school-left-side{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 40%;
}
.vehicle-driving-school-left-side img{
    width: 80%;
}
.vehicle-driving-school-right-side{
    flex-grow: 1;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    gap: 20px;
    position: relative;
}
.vehicle-driving-school-model-brand{
    flex-grow: 1;
    display: flex;
    align-items: end;
}
.vehicle-driving-school-model-brand h3{
    font-size: calc(.6vw + 8px);
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px 50px;
    box-shadow: -5px -5px 10px rgba(148, 146, 224, 0.3), 5px 5px 10px rgba(0, 0, 0, 0.3);
}   
.vehicle-driving-school-registration{
    flex-grow: 1;
    display: flex;
    text-align: center;
    margin: auto;
    flex-direction: column;
    justify-content: end;
    gap: 5px;
}
.vehicle-driving-school-registration h3{
    padding: 12px 40px;
    box-shadow: -5px -5px 10px rgba(148, 146, 224, 0.2), 5px 0px 10px rgba(0, 0, 0, 0.3);
    font-size: calc(.6vw + 8px);
}
.vehicle-driving-school-registration p{
    box-shadow: -5px -0px 10px rgba(148, 146, 224, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border-radius: 10px;
}
.vehicle-driving-school-instructors, .vehicle-driving-school-instructors-change{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.vehicle-driving-school-instructors p{
    margin-bottom: 5px;
}
.vehicle-driving-school-instructors ul{
    list-style: none;
    line-height: 25px;
    font-weight: 100;
}
.vehicle-driving-school-instructors ul li{
    font-size: calc(.6vw + 8px);
    font-weight: bold;
}
.instructor-input{
    border: none;
    text-align: center;
    font-size: calc(.6vw + 6px);
    padding: 3% 0;
    background-color: white;
    font-weight: 551;
}
.vehicle-driving-school-instructors-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: calc(.6vw + 8px);
    padding: 2px 15px;
    cursor: pointer;
    box-shadow: -5px -5px 10px rgba(148, 146, 224, 0.2), 5px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all .4s;
    margin-top: 10px;
    margin-bottom: 10px;
}
.vehicle-driving-school-instructors-button:hover{
    box-shadow: inset -3px -3px 8px rgba(0, 0, 0, 0.3), inset 2.5px 2.5px 10px rgba(148, 146, 224, 0.5);
}
.instructor-input-add{
    text-align: center;
    font-size: calc(.6vw + 6px);
    padding: 3% 0;
    background-color: white;
    font-weight: 551;
}
.vehicle-driving-school-technical-review{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.vehicle-driving-school-technical-review div{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.vehicle-driving-school-technical-review p{
    font-size: 18px;
}
.vehicle-driving-school-technical-review h3{
    margin: 10px 0;
    padding: 5px 30px;
    border-radius: 10px;
    font-weight: 600;
    font-size: calc(.8vw + 6px);
    box-shadow: -5px -5px 10px rgba(148, 146, 224, 0.2), 5px 0px 10px rgba(0, 0, 0, 0.3);
}
.vehicle-driving-school-buttons{
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.vehicle-driving-school-button-1, .vehicle-driving-school-button-2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: calc(.6vw + 8px);
    padding: 10px 0px;
    cursor: pointer;
    box-shadow: -5px -5px 10px rgba(148, 146, 224, 0.2), 5px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all .4s;
    gap: 10px;
    width: 35%;
}
.vehicle-driving-school-button-1:hover, .vehicle-driving-school-button-2:hover{
    box-shadow: inset -3px -3px 8px rgba(0, 0, 0, 0.3), inset 2.5px 2.5px 10px rgba(148, 146, 224, 0.5);
}
.vehicle-delete{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    border-radius: 25px;
    box-shadow: -5px -5px 10px rgba(224, 168, 146, 0.2), 5px 0px 10px rgba(0, 0, 0, 0.3);
}
.vehicle-delete p{
    margin: auto;
    font-size: calc(.6vw + 8px);
    text-align: center;
}
.vehicle-delete-buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.vehicle-delete-button-confirm, .vehicle-delete-button-ignore{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: calc(.6vw + 8px);
    padding: 10px 0px;
    cursor: pointer;
    box-shadow: -5px -5px 10px rgba(148, 146, 224, 0.2), 5px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all .4s;
    gap: 10px;
    width: 35%;
}
.vehicle-delete-button-confirm:hover, .vehicle-delete-button-ignore:hover{
    box-shadow: inset -3px -3px 8px rgba(0, 0, 0, 0.3), inset 2.5px 2.5px 10px rgba(148, 146, 224, 0.5);
}